# MySQL Configuration
MYSQL_ROOT_PASSWORD=rootquan
MYSQL_DATABASE=quanysblog
MYSQL_USER=quanys
MYSQL_PASSWORD=WOshidqy135

# JWT Configuration
JWT_SECRET=quanysblog-jwt-secret-key-woshidqy123456Quany
JWT_EXPIRATION=86400000
